<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookYourShow</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    @* font awesome *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>
<body class="">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-xl" style="background-color: #1B74B0;">
        <div class="container-fluid">
            <div class="d-flex justify-content-start align-items-center gap-3">
                <h3 class="text-white">BookYourShow</h3>
                <div class="d-flex justify-content-start align-items-center gap-2">
                    <a asp-action="Index" asp-controller="Home" class="nav-link text-white">Home</a>
                    @if(User.IsInRole("2"))
                    {
                        <a asp-action="MyBookings" asp-controller="Home" class="nav-link text-white">My Bookings</a>
                    }
                </div>
            </div>
            <div class="ms-auto d-flex justify-content-end align-items-center gap-3">
                <div class="ms-auto dropdown">
                    <div class="me-3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img height="50px" width="50px" class="rounded-circle"
                        src="~/images/Default_pfp.svg.png" alt="" />
                    </div>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="" class="dropdown-item d-flex align-items-center">
                                <div>
                                    <img height="40px" width="40px" class="rounded-circle"
                                    src="~/images/Default_pfp.svg.png" alt="" />
                                </div>
                                <div>@User?.Identity?.Name</div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        @if(User != null && User.Identity != null && User.Identity.IsAuthenticated){
                            <li>
                                <a role="button" data-bs-toggle="modal" data-bs-target="#logout-modal" class="dropdown-item d-flex align-items-center">
                                    <div class="me-1 me-sm-2">
                                        <i class="bi bi-box-arrow-right"></i>
                                    </div>
                                    <div>Log out</div>
                                </a>
                            </li>
                        } else {
                            <li>
                                <a asp-action="Index" asp-controller="Login" class="dropdown-item d-flex align-items-center">
                                    <div class="me-1 me-sm-2">
                                        <i class="bi bi-box-arrow-right"></i>
                                    </div>
                                    <div>LogIn</div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar END -->
    <div class="h-100 w-100 container-fluid px-3 pb-3">
            @RenderBody()
    </div>

    <!-- LOGOUT MODAL START -->
    <div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="modal1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title fw-bolder" style="color: #01010199;" id="exampleModalLabel">Delete
                        Confirmation</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <div class="text-warning"><i class="fs-3 bi bi-exclamation-triangle-fill"></i></div>
                    <div class="fw-medium" style="color: #01010199;">Are you sure you want to logout?
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <a asp-action="Logout" asp-controller="Login" class="btn btn-danger">YES</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">NO</a>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGOUT MODAL END -->

    @await RenderSectionAsync("Scripts", required: false)

    <!-- Toastr notification rendering -->
    @if (TempData["error"] != null)
    {
        <script type="text/javascript">
            toastr.error('@TempData["error"]');
        </script>
    }

    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
            toastr.success('@TempData["success"]');
        </script>
    }
</body>
</html>
