@{
    ViewData["Title"] = "My Bookings";
}

<div class="container">
    <div class="w-100 d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1>My Bookings</h1>
        </div>
        <div>
            <select class="form-select" id="selectBookigDropDown">
                <option value="all_bookings">All Bookings</option>
                <option value="past_bookings">Past Bookings</option>
                <option value="upcoming_bookings">Upcoming Bookings</option>
            </select>
        </div>
    </div>
    <div id="listAllBookings" class="w-100 p-2"></div>
</div>

<script>

    function GetAllBookings(filter){
        $.ajax({
            url: '/Home/GetAllBookings',
            type: 'GET',
            data: { filter },
            success: function (data) {
                if(data.success !== false){
                    $("#listAllBookings").html(data);
                }
            },
            error: function(xhr,status,error){
                toastr.error(error);
            }
        });
    }

    $(document).ready(function(){
        debugger
        GetAllBookings("all_bookings");
        $("#selectBookigDropDown").change(function(){
            const value = $(this).val();
            GetAllBookings(value);
        });
    });
</script>